.notes {
  gap: 20px;
  display: grid;
  grid-template-columns: 25% 25%;
  grid-template-rows: max-content;
  justify-content: center;
}
  
body{
    
    background-color:rgb(2, 7, 28);
  }

.written{
  font-size: x-large;
  color:#fcfcfc;
}

input{
  display: block;
  margin: auto;
  border: solid;
  border-radius: 100px;
}

#AddTodoForm{
  display: grid;
  grid-template-rows: 10% 10% 10%;
  grid-template-areas: "todo"
                       "priority"
                       "submit";
  justify-items: center;
  
} 

 #priority{
  grid-area: priority;
  
  
}

#todo{
  grid-area: todo;
  height: 25px;
  font-size: larger;
}

#submit{
  grid-area: submit;
  font-size: large;
  color: white;
  background-color:rgb(132, 132, 0) ;
}
#sort{
  color: white;
  background-color:rgb(132, 132, 0) ;
  font-weight: 700;
  font-size: large;
}

.rangeText{
  text-align: center;
  padding-bottom: 0px;
  color: #fb0808;
  font-size: larger;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "Task:"; /* Add content: \\2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  font-size:x-large;
}



input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  opacity: 0.75;
  width: 10px;
  height: 26px;
}

.noteGrid{
  display: grid;
  grid-template-columns: 75% 10%;
  justify-content: center;
  align-items: center;
}

.delete{
  font-weight: bold;
  color: #ff3737;
  font-size: larger;
  border: 1px solid seashell;
  text-align: center;
  text-decoration: transparent;
  padding: 5px;
  margin-left: 0;
  border-radius: 11px;
}